@media print { body { -webkit-print-color-adjust: exact; } }
*{
    font-family: 'Open Sans', sans-serif;
}

.sd-contenedor-cupones{
    margin: 0 auto;
    width: 792px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sd-item-cupon{
    width: 382px;
    display: flex;
    background-color: #EDEDED;
    padding: 10px 5px;
    margin-bottom: 15px;
    height: 205px;
}

.sd-item-cupon .sd-item-content:nth-child(1){
    width: 303px;
    padding-right: 5px;
    border-right: 2px dashed #AFAFAF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sd-item-cupon .sd-item-content:nth-child(2){
    width: 167px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-left: 5px;
}

.sd-item-logo{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
}

.sd-item-logo .sd-text{
    font-size: 7px;
    color: #1C9545;
    text-align: center;
    font-weight: bold;
}

.sd-item-logo img:nth-child(1){
    width: 88px;
    height: auto;
    margin-right: 5px;
}

.logo-instituciones{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-instituciones img:nth-child(1){
    width: 90px;
    height: auto;
}

.logo-instituciones img:nth-child(2){
    width: 100px;
    height: auto;
    margin-left: 10px;
}

.sd-titulo-preparacion{
    margin: 0 0 5px 0;
    font-size: 12px;
    font-weight: 600;
}

.sd-item-preparacion{
    font-size: 10px;
    color: #616161;
}

.sd-datos-folio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sd-direccion-sucursal{
    font-size: 7px;
    margin: 0 0 4px 0;
    font-weight: bold;
}

.sd-sucursal{
    font-size: 10px;
    font-weight: 600;
    margin: 0 0 5px 0;
    line-height: 11px;
}

.sd-content-folio{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #FBAB1F;
    padding: 8px;
    margin-bottom: 10px;
    width: 85%;
    height: 75px;
    justify-content: center;
    text-align: center;
    line-height: 30px;
}

.sd-folio{
    font-size: 18px;
    font-weight: 600;
    color: #FBAB1F;
    margin: 0;
}

.sd-text{
    font-size: 14px;
    margin: 0;
    line-height: 11px;
}

.sd-text-lentes{
    font-size: 8px;
    margin: 0;
    line-height: 11px;
    margin-bottom: 0!important;
}

.sd-estudio{
    font-size: 10px;
    margin: 0;
    line-height: 11px;
}

.sd-politicas-uso ul{
    padding: 0 0 0 15px;
    margin: 10px 0;
}

.sd-politicas-uso ul li{
    font-size: 10px;
}

.sd-politicas-uso-2 ul li{
    font-size: 12px;
}

.sd-contendor-sucursal{
    width: 80%;
    background-color:#00af50;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    padding: 5px;
}
.sd-clinica{
    text-transform: uppercase;
}

.sd-nota{
    margin-top: 10px;
}

.sd-nota .sd-text{
    font-size: 8px;
    color: #000;
    text-align: center;
    font-weight: bold;
}

.sd-vigencia .sd-text{
    color: #1C9545;
    font-weight: bold;
    font-size: 8px;
    text-align: left;
}

.sd-vigencia .sd-text:nth-child(2){
    color: #111;
    font-size: 4.2px;
    margin: 3px 0 0 0;
    text-align: center;
    line-height: 6px;
}

.sd-cupon-general{
    width: 392px;
    margin-bottom: 15px;
}

.sd-preparacion-estudio table{
    width: 100%;
    border-spacing: 0;
    font-size: 10px;
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    font-weight: bold;
}

.sd-preparacion-estudio table td{
    text-align: left;
    vertical-align: middle;
    border: 1px solid;
    border-color: #111;
    border-spacing: 0;
    padding: 3px;
}

.sd-preparacion-estudio table th{
    text-align: left;
    vertical-align: middle;
    border: 1px solid;
    border-color: #111;
    border-spacing: 0;
    border-bottom-width: 0;
    text-align: left;
    font-weight: bold;
}
.marginHoja{
    margin-bottom: 12px;
}